@import "@mantine/core/styles.css";
@import "@mantine/dates/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine {
	&-Drawer {
		&-content {
			display: flex;
			flex-direction: column;
		}

		&-body {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
	}
}
